@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

/* Header
----------------------------------------------------------*/
.header{
    padding: 1rem 0;
    padding: 2.2rem 0 0.7rem 0;
    box-shadow: -1px 3px 22px -17px rgba(0,0,0,0.63);
    position: relative;
    z-index: 20;
    @include m.tablet{
        box-shadow: none;
        padding-top: 2.5rem;
    }
    &__contenido{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__containerHamburger{
        flex: .5;
        display: flex;
        padding-left: 0.2rem;
        @include m.tablet{
            display: none;
        }
    }
    &__iconMenu{
        -webkit-tap-highlight-color: transparent;
        outline: none;
        display: flex;
        transform: translateY(2px);
    }
    &__containerEnlace{
        display: none;
        @include m.tablet{
            flex: .5;
            display: flex;
            display: unset;
        }

    }
    &__enlace{
        display: inline-block;
    }
    &__heading{
        margin: 0;
    }
    &__logo{
        width: 16rem;
        @include m.tablet{
            width: 25rem;
        }
    }
    &__icons{
        display: flex;
        gap: .8rem;
        justify-content: flex-end;
        flex: .5;
        align-items: center;
        @include m.tablet{
            // flex: unset;
            gap: 3rem;
        }
    }
    &__enlaces{
        // &--search{
        //     transform: translateY(1px);
        // }
    }

    &__icon{
        width: 2rem;
        &--search{
            width: 2.2rem;
        }
        @include m.tablet{
            width: 2.8rem;
        }
        
    }
}