@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.drawer{
    position: absolute;
    left: 0;
    right: 0;
    top: 59px;
    bottom: 0;
    z-index: 3;
    height: 0;
    // height: calc(100% - 59px);
    overflow: hidden;
    transition: opacity .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
    background-color: v.$blanco;
    
    @include m.tablet{
        height: unset;
        position: unset;
        opacity: 1;
        width: 85%;
        margin: 3rem auto 0 auto;
    }
    &--activo{
        height: calc(100% - 59px);
        opacity: 1;
    }
}
.navegacion{
    height: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    overflow-y: scroll;
    width: 100%;
    
    @include m.tablet{
        // width: 90%;
        // margin: 0 auto;
        height: unset;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: row;
        column-gap: 4rem;
        row-gap: 1rem;
        padding-top: 0;
        justify-content: center;
    }
    &__enlace{
        text-transform: uppercase;
        font-size: 2rem;
        color: lighten(v.$negro, 35%); 
        color: v.$negro;
        padding-bottom: .3rem;
        text-align: center;
        @include m.tablet{
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 3px;  

        }
        &--activo{
            border-bottom: 1px solid v.$negro;
        }
    }
}