@use 'bases/variables' as v; 
@use 'bases/mixins' as m;
.main{
    text-align: center;
    &__text{
        margin-bottom: 0;
        font-size: 2.5rem;
        letter-spacing: 3px;
        position: relative;
        color: v.$azul;
        font-weight: 500;
        margin-top: 5rem;
        @include m.tablet{
            font-size: 3rem;
            margin-top: 10rem;
            margin-bottom: 0.8rem;

        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            bottom: -26px;
            z-index: -1;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 0.08px;
            background-color: #79797926;
            @include m.tablet{
                bottom: -37px;
            }
            @include m.desktop{
                width: 85%; 
            }
    
        }
    }
    &__heading{
        margin: 0 0 5rem 0;
        // text-transform: uppercase;
        display: inline;
        background: white;
        font-family: v.$fuentePrincipal;
        padding: 0 1rem;
        font-size: 3rem;
        @include m.tablet{
            // margin: 10rem 0 5rem 0;
            font-size: 3.5rem;
            padding: 0 1.5rem;
        }


    }
    &__span{
        display: block;
        color: #50b285;
        font-weight: 900;
    }
}
.productos{
    text-align: start;
    padding-top: 5rem;
    @include m.grid(2, 2rem);
    
    @include m.tablet{ 
        margin: 0 auto;
        @include m.grid(3, 2rem);
    }
    
    @include m.desktop{ 
        width: 85%;
        @include m.grid(4, 4rem);
    }
}
.producto_info{
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    gap: 1.2rem;
    img{
        width: 3rem;
        margin-right: 1rem;
    }
}
.producto_img{
    transition: all .5s ease-in-out;
    height: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    padding-bottom: 140%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    @include m.tablet{

    }
    @include m.desktop{
        border-radius: 10px;
    }
    &::after{
        content: '-40%';
        font-size: 1rem;
        background-color: red;
        color: v.$blanco;
        padding: .4rem .8rem;
        position: absolute;
        left: 0;
        top: 15px;
        letter-spacing: 1px;
        @include m.tablet{
            padding: .6rem 1.4rem;
            font-size: 1.2rem;
            padding: .4rem 1rem;
        }

    }

    &--1{
        background-image: url(../img/galery/1.webp);
        &:hover{
            background-image: url(../img/galery/1.2.webp);
        }
    }
    &--2{
        background-image: url(../img/galery/2.webp);
        &:hover{
            background-image: url(../img/galery/2.2.webp);
        }
    }
    &--3{
        background-image: url(../img/galery/3.webp);
        &:hover{
            background-image: url(../img/galery/3.2.webp);
        }
    }
    &--4{
        background-image: url(../img/galery/4.webp);
        &:hover{
            background-image: url(../img/galery/4.2.webp);
        }
    }
    &--5{
        background-image: url(../img/galery/5.webp);
        &:hover{
            background-image: url(../img/galery/5.2.webp);
        }
    }
    &--6{
        background-image: url(../img/galery/6.webp);
        &:hover{
            background-image: url(../img/galery/6.2.webp);
        }
    }
    &--7{
        background-image: url(../img/galery/7.webp);
        &:hover{
            background-image: url(../img/galery/7.2.webp);
        }
    }
    &--8{
        background-image: url(../img/galery/8.webp);
        &:hover{
            background-image: url(../img/galery/8.2.webp);
        }
    }
}
.producto_nombre{
    margin: 0 0 0.5rem 0;
}
.producto_precio{
    color: v.$azul;
    font-weight: 500;
    font-size: 1.7rem;
}

.btn-Comprar{
    text-align: center;
    margin: 5rem 0;
}

.agregar-carrito{
    width: 100%;
    position: relative;
}