@use 'bases/variables' as v; 
@use 'bases/mixins' as m;


.hero{
    margin-bottom: 3rem;
    .swiper-wrapper{
        cursor: pointer;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
        // @include m.tablet {
        //     color: v.$blanco;
        //     display: inline-block;
        //     font-size: 3rem;
        // }
    }
    .swiper-pagination-bullet {
        background-color: v.$blanco;

        // @include m.tablet {
        //     display: none;
        // }
    }

    .swiper-pagination-bullet-active {
        background-color: v.$blanco;
    }
}

.swiperImg{
    // min-height: 30rem;
    // height: 45rem;
    // object-fit: cover;
    height: 0;
    padding-bottom: 120%;
    padding-bottom: 140%;
    background-size: cover;
    background-position: center;
    @include m.telefono{
        padding-bottom: 100%;
    }
    @include m.tablet{
        // height: auto;
        padding-bottom: 38%;
    }
    @include m.desktop{
        // height: 55rem;
        padding-bottom: 35%;
    }
    &--1{
        background-image: url(../img/slide_1.webp);
        @include m.tablet{
            background-image: url(../img/slide_01.webp);
        }
    }
    &--2{
        background-image: url(../img/slide_2.webp);
        @include m.tablet{
            background-image: url(../img/slide_02.webp);
        }
    }
    &--3{
        background-image: url(../img/slide_3.webp);
        @include m.tablet{
            background-image: url(../img/slide_03.webp);
        }
    }
    &--4{
        background-image: url(../img/slide_4.webp);
        @include m.tablet{
            background-image: url(../img/slide_04.webp);
        }
    }
}