@use 'variables' as v;

h1, h2, h3 {
    margin: 0;
    line-height: 1.5;
    font-family: v.$fuenteHeading;
    font-weight: 400;
    letter-spacing: 3px;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
}
[class$="heading"] {
    margin: 2rem 0;
}
a {
    text-decoration: none;
    font-family: v.$fuentePrincipal;
    font-weight: 400;
}
p {
    font-size: 2rem;
    font-weight: 300;
}